
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styling the Navigation Bar */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347; /* Tomato color */
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}



#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}


#mango-shelf {
    margin-top: 7px;
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}


#burger-shelf {
    margin-top: 7px;
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}

#banana-shelf {
    margin-top: 7px;
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}
#msabibu-shelf {
    margin-top: 7px;
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}
